body {
  background-image: url("../img/coding_magic-background.png");
  background-color: rgb(238, 236, 236);
}
main {
  // border: 1px solid #000;
  margin-right: 200px !important;
   margin-left: 200px !important;
  background-color: #fff;

}
