<section class="birthday ">
  <h2 class="title-birthday">Перевір в який рік ти народився</h2>
  <div class="birthday-div">
    <div class="box-input">
      <input
        class="birthday-input"
        type="number"
        id="yearInput"
        placeholder="Введіть рік народження"
      />
      <button id="checkYearBtn" class="birthday-btn random-btn b-day-btn">
        <img src="img/svg/search.svg" class="search-btn" alt="search" />
      </button>
    </div>
    <p class="birthday-text" id="yearResult"></p>
  </div>
  <div class="line-box">
    <hr class="random-line" />
  </div>
</section>
