<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p class="modal-text">Привіт!</p>
        <p class="modal-text">Ви потрапили на сайт інтерактивних ігор та завдань
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
            Бажаємо Вам гарно провести час!</p>
        <p class="modal-text modal-ask">Введіть своє ім’я:</p>
        <div> <input type="name" id="guess-game-input" placeholder="Ваше ім’я..." class="modal-input"></div>
        <div> <button class="modal-btn" id="myBtn">Зберегти</button></div>
    </div>
</div>

<div id="thankyou-modal" class="modal thankyou-modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p class="modal-text">Привіт!</p>
    </div>
</div>