<section class="footetr">
  <div class="footer-div">
    <svg class="footer-svg">
      <use class="footer-svg-use" src="../svg/logo.svg"></use>
    </svg>

    <p class="footer-text">
      Тел: +38 (123) 456 78 90 <br />
      E-Mail: codingmagic@gmail.com <br />
      Facebook: CodingMagic <br />
      Twitter: CodingMagic <br />
      Instagram: CodingMagic
    </p>
    <div>
      <input type="text" class="footer-input" placeholder="Ваша ел. адреса..." />
      <button class="footer-button">Підписатись</button>
    </div>
    <p class="footer-p">
      *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
    </p>
  </div>
</section>