<header class="header">
  <div class="container">
    <div class="header__container">
      <!-- <svg class="header__logo svg svg--stroke" width="95" height="40">
        <use href="img/svg/logo.svg"></use>
      </svg> -->
      <img src="img/svg/logo.svg" alt="">
      <nav class="header__nav">
        <ul class="header__nav-list list">
          <li class="header__nav-item">
            <a class="header__nav-link link" data-dropdown-open>
              Інтерактив
              <svg class="header__nav-arrow" width="15" height="15" data-dropdown-arrow>
                <use href="img/svg/arrow.svg"></use>
              </svg>
            </a>
            <ul class="header__dropdown" data-dropdown>
              <li class="header__dropdown-item">
                <button type="button" class="header__dropdown-btn" data-changeBtn="all">
                  Всі
                </button>
              </li>
              <li class="header__dropdown-item">
                <button type="button" class="header__dropdown-btn" data-changeBtn="numerical">
                  Числовий
                </button>
              </li>
              <li class="header__dropdown-item">
                <button type="button" class="header__dropdown-btn" data-changeBtn="game">
                  Ігровий
                </button>
              </li>
              <li class="header__dropdown-item">
                <button type="button" class="header__dropdown-btn" data-changeBtn="acquaintance">
                  Ознайомчий
                </button>
              </li>
            </ul>
          </li>
          <li class="header__nav-item">
            <a href="#ourTeam" class="header__nav-link link">Наша команда</a>
          </li>
          <li class="header__nav-item">
            <a href="#footer" class="header__nav-link link">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__theme">
      <button type="button" class="header__theme-btn" data-theme-switcher>
        <img class="header__theme-img header__theme-img--light" src="./img/svg/sun.svg" alt="theme image" />
      </button>
      <p class="header__welcome-text" data-welcome-open>Вітаємо, User!</p>
    </div>
  </div>
</header>