<section data-sect="numerical" class="random container">

    <h2 class="title-random">Вгадай число, яке загадав комп’ютер</h2>
    <div class="random-box">
        <!-- <div class="container box-input"> -->
        <div class="box-input">
            <input type="number" id="guessInput" placeholder="Введіть число">
            <button class="random-btn" onclick="checkGuess()"><img src="img/svg/search.svg" class="search-btn"
                    alt="search"></button>
        </div>

        <div id="result1" class="result1"></div>
    </div>
    <script>
        let secretNumber = Math.floor(Math.random() * 10) + 1;

        function checkGuess() {
            let guess = document.getElementById("guessInput").value;
            let resultDiv = document.getElementById("result1");

            if (!guess) {
                resultDiv.innerHTML = "Будь ласка, введіть число!";
                resultDiv.className = "result1 wrong";
                return;
            }

            guess = parseInt(guess);

            if (guess === secretNumber) {
                resultDiv.innerHTML = `Вітаю, ви вгадали число! (${secretNumber})`;
                resultDiv.className = "result1 correct";
                secretNumber = Math.floor(Math.random() * 10) + 1;
            } else {
                resultDiv.innerHTML = "Неправильно, спробуйте ще раз!";
                resultDiv.className = "result1 wrong";
            }
        }
    </script>
    <div class="line-box">
        <hr class="random-line" />
    </div>
</section>