<section data-sect="numerical" class="time_calculator">
  <div class="container">
    <h3 class="title-random">Калькулятор часу</h3>
    <div class="time-box">
      <div class="box-input">
        <input type="number" id="guessInput" placeholder="Введіть число">
        <button class="random-btn" onclick="checkGuess()"><img src="img/svg/search.svg" class="search-btn"
            alt="search"></button>
      </div>
      <p class="time-text" data-time-result>3 дн. 15:45:01</p>
    </div>
  </div>
  <div class="line-box">
    <hr class="random-line" />
  </div>
</section>