<section data-sect="numerical" class="time_calculator">
  <h3 class="title-random">Калькулятор часу</h3>
  <div class="time-calculator-container container">
    <div class="box-input time-calculator-input-box">
      <input type="number" id="time-calculator-input" placeholder="Введіть число">
      <button class="random-btn time-calculator-button" onclick="calculateTime()">
        <img src="img/svg/search.svg" class="search-btn" alt="search"></button>
    </div>
    <div class="dots-result-box">
      <div class="time-dots">--------------------------</div>
      <span id="time-calculator-result">...</span>
    </div>
  </div>


  <script>
    function calculateTime() {
      const input = document.getElementById("time-calculator-input").value;
      const result = document.getElementById("time-calculator-result");

      if (input) {
        const totalSeconds = parseInt(input, 10);
        const days = Math.floor(totalSeconds / (24 * 3600));
        const hours = Math.floor((totalSeconds % (24 * 3600)) / 3600);
        const minutes = Math.floor((totalSeconds % 3600) / 60);
        const seconds = totalSeconds % 60;

        result.textContent = `${days} дн. ${hours}:${minutes}:${seconds}`;
        result.style.display = "inline";
      } else {
        result.textContent = "...";
        result.style.display = "none";
      }
    }
  </script>


  <div class="line-box">
    <hr class="random-line" />
  </div>
</section>