body {
    text-align: center;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
    margin: auto;
    background-color: white;
    border-bottom: 2px solid black; /* Додаємо землю */
    width: 500px; /* Зменшена ширина гри */
    height: 150px; /* Зменшена висота гри */
}

/* Точно вказуємо, що зміни стосуються лише заголовка h1 з класом title-random */
.title-dino {
    font-family: Montserrat Alternates;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}

/* Стилі для кнопки рестарт */
.restart-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #808080; /* Змінили на сірий колір */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
}

.restart-btn:hover {
    background-color: #707070; /* Темніший відтінок сірого на hover */
    transform: scale(1.05);
}

.restart-btn:active {
    background-color: #606060; /* Ще темніший відтінок сірого на натискання */
    transform: scale(0.98);
}

/* Ховаємо картинки */
#dinoImage, #cactusImage {
    display: none;
}

.box-dino {
    display: flex;
    justify-content: center;
    align-items: center;
}
