.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.arrow-svg {
    width: 50px;
    height: 100px;
    border-width: 1px;
}

.arrow {
    cursor: pointer;
    font-size: 30px;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-left {
    left: 10px;
    transform: rotate(90deg);
}

.arrow-right {
    right: 10px;
    transform: rotate(-90deg);
}

.slide {
    display: none;
    text-align: center;
}

.slide.active {
    display: block;
}

.name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
}

.description {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.63px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    margin: 20px auto;
    object-fit: cover;
    border-radius: 20px;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: gray;
}